{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenido al Sistema de Registro de Zapatería</h1>
        <p class="lead">Administra tus productos, clientes y empleados fácilmente</p>
        <hr class="my-2">
        <p class="lead">
            Utiliza el menú de navegación para acceder a las funcionalidades de registro.
        </p>
    </div>
</div>

{% endblock %}
